{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(tripForm) }}
    {{ form_start(spotForm) }}

    {{ form_row(tripForm.name) }}
    {{ form_row(tripForm.startDateTime) }}
    {{ form_row(tripForm.registrationDeadLine) }}
    {{ form_row(tripForm.registrationNumberMax) }}
    {{ form_row(tripForm.duration) }}
    {{ form_row(tripForm.information) }}
    {{ form_row(tripForm.campus) }}
    {{ form_row(spotForm.city) }}
    {{ form_row(tripForm.spot) }}


    {{ form_end(tripForm) }}

    <button class="btn btn-primary">Créer une Sortie</button>

    <!-- Modal -->
    <div class="modal fade" id="spotModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Créer un Lieu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    {{ form_row(spotForm.name) }}
                    {{ form_row(spotForm.street) }}
                    {{ form_row(spotForm.latitude) }}
                    {{ form_row(spotForm.longitude) }}

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ajouter un Lieu</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
{#    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#spotModal">#}
{#        Ajouter un Lieu#}
{#    </button>#}
    <i class="fa-solid fa-circle-plus" data-bs-toggle="modal" data-bs-target="#spotModal"></i>

    {{ form_end(spotForm) }}



{% endblock %}

{% block title %}
Créer une Sortie
{% endblock %}