{% extends 'base.html.twig' %}

{% block body %}

    <h2>Afficher</h2>
    <div class="trip-info">
        <div class="left-column">
            <p><b>Nom de la Sortie</b> : {{ trip.name }}</p>
            <p><b>Date et heure de la sortie</b> : {{ trip.startDateTime | date('d-m-Y H:i') }}</p>
            <p><b>Date limite d'inscription</b> : {{ trip.registrationDeadLine | date('d-m-Y') }}</p>
            <p><b>Nombre de places</b> : {{ trip.registrationNumberMax }}</p>
            <p><b>Durée</b> : {{ trip.duration }} minutes</p>
            <p><b>Description</b> : {{ trip.information }}</p>
        </div>
        <div class="right-column">
            <p><b>Etat</b> : {{ trip.state.wording }}</p>
            <p><b>Campus</b> : {{ trip.campus.name }}</p>
            <p><b>Lieu</b> : {{ trip.spot.name }}</p>
            <p><b>Rue</b> : {{ trip.spot.street }}</p>
            <p><b>Code postal</b> : {{ trip.spot.city.zipCode }}</p>
            <p><b>Latitude</b> : {{ trip.spot.latitude }}</p>
            <p><b>Longitude</b> : {{ trip.spot.longitude }}</p>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Pseudo</th>
            <th scope="col">Nom</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_profile', {'name': user.name}) }}">{{ user.nickname }}</a></td>
                <td>{{ user.firstname }} {{ user.name | upper }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block title %}
    Detail de la Sortie
{% endblock %}