<div class="row">
    <div class="col-md-7">
        {{ form_start(searchForm) }}
        {{ form_row(searchForm.campus) }}
        {{ form_row(searchForm.keyWord) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(searchForm.dateFrom) }}
            </div>
            <div class="col-md-6">
                {{ form_row(searchForm.dateTo) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(searchForm.isPromoter) }}
                {{ form_row(searchForm.isSub) }}
            </div>
            <div class="col-md-6">
                {{ form_row(searchForm.isntSub) }}
                {{ form_row(searchForm.isTripEnd) }}
            </div>
        </div>

        <button type="submit" class="btn btn-dark">Rechercher</button>
        {{ form_end(searchForm) }}
    </div>
</div>

