{% extends 'base.html.twig' %}

{% block body %}
    <h2>Filtrer les sorties</h2>

    


    <form action="">
        <div>
            <div class="col-md-3">
                <label for="campus-select" class="col-form-label">Campus</label>
                <select id="campus-select" class="form-control">
                    <option value="">-- Filtrer par campus --</option>
                    {% for campus in campus %}
                        <option value="{{ campus.name }}">{{ campus.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="trip-search" class="col-form-label">Le nom de la sortie contient : </label>
                <input type="search" id="trip-search" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="start" class="col-form-label">Entre : </label>
                <input type="date" id="start" name="trip-start" value="{{ "now" }}" min="{{ "now" }}" class="form-control">
                <label for="end" class="col-form-label">et</label>
                <input type="date" id="end" name="trip-end" class="form-control">
            </div>
            <div class="col-md-12">
                <input type="checkbox" name="provider" id="provider">
                <label for="provider" class="col-form-label">Sorties dont je suis l'organisateur/trice</label>
            </div>
            <div class="col-md-12">
                <input type="checkbox" name="subscribe" id="subscribe">
                <label for="subscribe" class="col-form-label">Sorties auxquelles je suis inscrit/e</label>
            </div>
            <div class="col-md-12">
                <input type="checkbox" name="not-subscribe" id="not-subscribe">
                <label for="not-subscribe" class="col-form-label">Sorties auxquelles je ne suis pas inscrit/e</label>
            </div>
            <div class="col-md-12">
                <input type="checkbox" name="passed-trip" id="passed-trip">
                <label for="passed-trip" class="col-form-label">Sorties passées</label>
            </div>
            <button type="submit" class="btn btn-dark">Rechercher</button>
        </div>
    </form>


    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/Places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {# TODO: gerer l'affichage des status "en création" #}
        {# TODO: gerer l'affichage de la page annulée #}

        {% for trip in trips %}
{#            {% if app.user.id != trip.promoter.id and trip.state.wording == "Ouverte" %}#}
            <tr>
                <td>{{ trip.name }}</td>
                <td>{{ trip.startDateTime | date('d-m-Y H:i') }}</td>
                <td>{{ trip.registrationDeadLine | date('d-m-Y') }}</td>
                <td>{{ trip.users | length }} / {{ trip.registrationNumberMax }}</td>
                <td>{{ trip.state.wording }}</td>
                {% if trip.users.contains(app.user) %}
                    <td><i class="check fa-solid fa-check"></i></td>
                {% else %}
                    <td></td>
                {% endif %}
                <td><a href="{{ path('user_profile', {'name': trip.promoter.name}) }}">{{ trip.promoter.name }}</a></td>

                {% if app.user.id == trip.promoter.id and trip.state.wording == "En Création" %}
                    <td><a href="{{ path('trip_updateTrip', {'id': trip.id}) }}">Modifier</a> - <a href="{{ path('trip_publish', {'id': trip.id}) }}">Publier</a></td>
                {% elseif app.user.id == trip.promoter.id and trip.state.wording == "Ouverte" %}
                    <td><a href="{{ path('trip_detail', {'id': trip.id}) }}">Afficher</a> - <a href="{{ path('trip_cancel', {'id': trip.id}) }}">Annuler</a></td>
                {% elseif trip.state.wording == "Annulée"%}
                    <td><a href="{{ path('trip_cancelDetail', {'id': trip.id}) }}">Afficher</a>
                {% elseif not trip.users.contains(app.user) %}
                    <td><a href="{{ path('trip_detail', {'id': trip.id}) }}">Afficher</a> - <a href="{{ path('trip_subscribeTrip', {'id': trip.id}) }}">S'inscrire</a></td>
                {% else %}
                    <td><a href="{{ path('trip_detail', {'id': trip.id}) }}">Afficher</a> - <a href="{{ path('trip_unsubscribeTrip', {'id': trip.id}) }}">Se désister</a></td>
                {% endif %}

            </tr>
{#            {% endif %}#}
        {% endfor %}



        </tbody>
    </table>

    <a href="{{ path('trip_create') }}" class="btn btn-primary">Créer une sortie</a>
{% endblock %}

{% block title %}
    Liste des Sorties
{% endblock %}