{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(tripForm) }}


    {{ form_row(tripForm.name) }}
    {{ form_row(tripForm.startDateTime) }}
    {{ form_row(tripForm.registrationDeadLine) }}
    {{ form_row(tripForm.registrationNumberMax) }}
    {{ form_row(tripForm.duration) }}
    {{ form_row(tripForm.information) }}
    {{ form_row(tripForm.campus) }}
    {{ form_row(tripForm.spot1.city) }}
    {{ form_row(tripForm.spot) }}




    <!-- Modal -->
    <div class="modal fade" id="spotModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Créer un Lieu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_row(tripForm.spot1) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ajouter un Lieu</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>


{#    <button type="submit" class="btn btn-primary">Modifier une Sortie</button>#}
{#    <a href="{{ path('trip_publish', {'id': trip.id}) }}" class="btn btn-secondary">Publier la sortie</a>#}
    <!-- Button trigger modal -->
    {#    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#spotModal">#}
    {#        Ajouter un Lieu#}
    {#    </button>#}
    <i class="plus fa-solid fa-circle-plus" data-bs-toggle="modal" data-bs-target="#spotModal"></i>

    {{ form_end(tripForm) }}



{% endblock %}

{% block title %}
    Modifier une Sortie
{% endblock %}