{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(tripForm) }}

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(tripForm.name) }}
                </div>
                <div class="col-md-6">

                    {{ form_row(tripForm.duration) }}
                </div>
                <div class="col-md-6">

                    {{ form_row(tripForm.startDateTime) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(tripForm.campus) }}
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(tripForm.registrationDeadLine) }}
                </div>
                <div class="col-md-6 ">
                    {{ form_row(tripForm.spot1.city) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(tripForm.registrationNumberMax) }}
                </div>
                <div class="col-md-6">
                    <div class="row align-items-center">
                        <div class="col-md-10">
                            {{ form_row(tripForm.spot) }}
                        </div>
                        <div class="col">
                            <i class="plus fa-solid fa-circle-plus" data-bs-toggle="modal" data-bs-target="#spotModal"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    {{ form_row(tripForm.information) }}
                </div>

            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="spotModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Créer un Lieu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_row(tripForm.spot1) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ajouter un Lieu</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            {{ form_row(tripForm.create) }}
        </div>
        <div class="col">
            {{ form_row(tripForm.publish) }}
        </div>
    </div>

    {{ form_end(tripForm) }}


{% endblock %}

{% block title %}
    Modifier une Sortie
{% endblock %}