<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
    <header>
        <h1>Sortir.com</h1>
            <div class="nav-bar">
                <ul>
                    {% if app.user %}
                        <li><a href="{{ path('main_home') }}">Accueil</a></li>
                        <li><a href="{{ path('trip_create') }}">Créer une sortie</a></li>
                        <li><a href="{{ path('trip_list') }}">Liste des sortie</a></li>
                        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                        <li><a href="{{ path('user_profile', {'name': app.user.name}) }}">Mon profil</a></li>
                    {% endif %}

                </ul>
            </div>
    </header>

    <main>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <div>&copy; {{ "now" | date('Y') }} Sortir.com</div>
        </div>
    </footer>
</body>
</html>