{% extends 'trip/create.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}
{% endblock %}

{% block body %}
    <h2>COUCOU CEST DE LA MERDE</h2>
    {{ form_start(spotForm) }}

    <!-- Modal -->
    <div class="modal fade" id="spotModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Créer un Lieu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    {{ form_row(spotForm.name) }}
                    {{ form_row(spotForm.street) }}
                    {{ form_row(spotForm.latitude) }}
                    {{ form_row(spotForm.longitude) }}

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ajouter un Lieu</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>

                </div>
            </div>
        </div>
    </div>

    {{ form_end(spotForm) }}
{% endblock %}