{% extends 'base.html.twig' %}

{% block body %}
    <div class="img-profile">
        <img src="{{ asset('upload_profile/' ~ app.user.profileImage) }}" alt="{{ app.user.name }}" class="image">
    </div>
    <h2>{{ app.user.name }}</h2>
    <p>Prénom : {{ app.user.firstname }}</p>
    <p>Nom : {{ app.user.name }}</p>
    <p>Téléphone : {{ app.user.phone }}</p>
    <p>Email : {{ app.user.email }}</p>
    <p>Campus : {{ app.user.campus.name }}</p>
    <a href="{{ path('user_update', {'name': app.user.name}) }}">Modifier mon profile</a>
{% endblock %}

{% block title %}
Mon profile
{% endblock %}

