{% extends 'base.html.twig' %}

{% block body %}
    <div class="img-profile">
        <img src="{{ asset('upload_profile/' ~ user.profileImage) }}" alt="{{ user.name }}" class="image">
    </div>
    <h2>{{ user.name }}</h2>
    <p>Prénom : {{ user.firstname }}</p>
    <p>Nom : {{ user.name }}</p>
    <p>Téléphone : {{ user.phone }}</p>
    <p>Email : {{ user.email }}</p>
    <p>Campus : {{ user.campus.name }}</p>

    {% if app.user == user %}
        <a href="{{ path('user_update', {'name': user.name}) }}">Modifier mon profil</a>
    {% endif %}

{% endblock %}

{% block title %}
Mon profile
{% endblock %}

